/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/proteinannotator -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input = params.pipelines_testdata_base_path + '/samplesheet/samplesheet.csv'
    // Domain annotation
    pfam_latest_link   = params.pipelines_testdata_base_path + '/testdata/pfam/Pfam-A_test.hmm.gz'
    funfam_latest_link = params.pipelines_testdata_base_path + '/testdata/funfam/funfam-hmm3-v4_3_0_test.lib.gz'
    nmpfams_latest_link = params.pipelines_testdata_base_path + '/testdata/nmpfams/nmpfamsdb_test.hmm.gz'
    // Functional annotation
    interproscan_db_url       = params.pipelines_testdata_base_path + '/testdata/interproscan_test.tar.gz'
    interproscan_applications = 'Hamap,TIGRFAM,sfld'
}
