params {
    // This defines the test dataset location for the subworkflow
    test_data = [
        'sarscov2': [
            'genome': [
                'proteome_fasta': 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/proteome.fasta'
            ]
        ]
    ]
}
