process {
    withName: INTERPROSCAN {
        ext.args = '--applications Hamap,TIGRFAM,sfld --disable-precalc'
        memory   = 12.GB
        cpus     = 1
    }

    withName: KOFAMSCAN {
        ext.prefix = { "${meta.id}.kofamscan" }
        ext.args   = '--format detail-tsv'
        cpus       = 1
        memory     = 1.GB
    }
}
